*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: "Montserrat",sans-serif;
    background-image:linear-gradient(to right, #FFBBAA , #F7CE68);
    display: grid;
    place-items: center;
}
.container{
    
    margin: 30px auto;
    width: 90%;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}


.butsub{
        display: block;
        width: 145px;
        height:40px;
        font-size: 1rem;
        color:white;
        border: none;
        border-radius: 5%;
        margin: auto;
        outline: none;
        cursor: pointer;
    }

 #fetchposts{
    box-shadow: 3px 3px 3px 3px rgb(212, 95, 52);
    background: rgb(212, 95, 52);
}
#submit{
    box-shadow: 3px 3px 3px 3px rgb(81, 214, 81);
    background: rgb(81, 214, 81);
}
 #fetchusers{
    box-shadow: 3px 3px 3px 3px rgb(136, 253, 136);
    background: rgb(136, 253, 136);
}
#addposts{
    background:rgb(235, 109, 109);
    box-shadow: 3px 3px 3px 3px rgb(235, 109, 109) ;
}
.card{
    background: white;
    border: 1px solid green;
    width: 300px;
    height: 320px;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
}

 
#search{
   margin-top: 35px;
   margin-left: 530px;
   width: 330px;
  height: 3em;
  border-radius: 10px;
  border: none;
padding: 20px;
outline: none;
}


.card h2{
    padding:3px;
    font-weight: bolder;
    font-size: 30px;
}
.card h3{
    font-size: 20px;
    font-weight: 900;
    
}
.card p{
    padding: 3px;
    font-weight: 600;
}
.output
{
    margin: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-flow: wrap;
}
.modal{
    display: none;
    position: fixed;
    top:24%;
    left:34%;
    align-content: center; 
    font-family: 'Montserrat', sans-serif;
    height: 420px;
    width: 500px;
    background:white;
    text-align: center;
}
.inputvalue{
    width: 260px;
    height:40px;
    padding-left: .4rem;
    margin: 1.3rem;
    padding: 1em;
    padding-left: 1 rem;
    
}
.span1{
    font-size: 2rem;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.message{
    display: block;
    width: 265px;
    height:40px ;
    background:  rgb(81, 214, 81);
    padding:0.5rem;
    margin: auto;
    text-align: center;
    font-size: 1rem;
    border: none;
    border-radius: 5%;
    color: white;
    
    }








